
@model Dictionary<int, string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Hello Roshalonline</h3>
        <p>
            @foreach(KeyValuePair<int, string> kvp in @Model)
            {
                <h6>@kvp.Key</h6> @kvp.Value  
            }
        </p>
    </div>
</body>
</html>
