@using Roshalonline.Data.Models;
@model IEnumerable<News>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Hello Roshalonline</h3>
        <p>
            @foreach(var n in @Model)
            {
                <h6>@n.NewsHeader</h6> @n.NewsBody
            }
        </p>
    </div>
</body>
</html>
