<!DOCTYPE html>
<html lang="en" class="roshalonline no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roshalonline = провайдер, который всегда с тобой</title>
    <meta name="author" content="Kineev Alexey" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Internet/About/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Internet/About/common-style.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/Home/ViewNews/view.css"
    *@
    <script src="~/Scripts/snapsvg.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @*<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
            </script>*@


</head>
<body>
    <div class="container">
        <!-- Top Navigation -->
        <div class="codrops-top">
            <a class="top-center" href="#"><span>+7(496)455-81-05 ООО "Альтес-Р" г. Рошаль, ул. Косякова, д. 13</span></a>
        </div>
        <header class="codrops-header">
            <img src="~/Assets/Logos/Common/logo_96.png" /><h1>ROSHAL ONLINE<span>Первый городской оператор связи</span></h1>
            <nav class="codrops-demos">
                <a class="current-demo" href="№">Описание услуги</a>
                <a href="@Url.Action("Index", "Internet")">В раздел Интернет</a>
                <a href="@Url.Action("Index", "News")">Обратная связь</a>
                <a href="@Url.Action("Index", "News")">Личный кабинет</a>
            </nav>
        </header>
        <section id="grid" class="grid clearfix">
            <div class="news-body">
                <figure>                    
                    <p class="news-header-img"><img src="~/Assets/Logos/Internet/About/internet_about_logo1.png" /></p>
                    <p class="news-body-header">что такое интернет</p>
                    <div class="news-body-content">
                        <p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Что такое Интернет? Технически это компьютерная сеть глобального масштаба, организваонная для обмена данными между удаленными компьютерами. Однако фактически Интернет это нечто большее чем просто сеть, это скорее удивительное социальное явление, буквально за 15 лет активного развития произведшее скорушительную революцию во всех сферах человеческой жизни. Интернет настолько плотно вошел в повседневный обиход жителей нашей планеты, что сейчас крайне тяжело себе представить утро без новостной ленты, день без смешных видео с котиками и вечеров без социальных интернет-сервисов.</p>
                        </p>
                    </div>
                    <p class="news-header-img"><img src="~/Assets/Logos/Internet/About/internet_about_logo2.png" /></p>
                    <p class="news-body-header">что такое услуга "доступ к сети интернет"</p>
                    <div class="news-body-content">
                        <p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Что такое "Услуга доступа к сети Интернет"? Это Ваш выход во всемирную сеть Интернет, с использованием сети передачи данных нашей Компании. Просматривайте и загружайте любую информацию, используйте максимальный спектр медиа-возможностей, общайтесь в социальных сетях и будьте в курсе последних мировых событий и трендов.</p>

                        </p>
                    </div>
                    <p class="news-header-img"><img src="~/Assets/Logos/Internet/About/internet_about_logo3.png" /></p>
                    <p class="news-body-header">как я могу подключить данную услугу</p>
                    <div class="news-body-content">
                        <p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Как подключить "Услугу доступа к сети Интернет"? Нет ничего проще, воспользуйтесь интерактивной <span class ="news-body-href" onclick="location.href='@Url.Action("AddUser", "Home")'" onmouseover="this.style.cursor = 'pointer'"> формой подключения Услуги на нашем портале.</span> Также Вы можете обратиться к нам по телефону: 8-(496)-455-81-05 После поступления обращения, в течении рабочего дня с Вами свяжуться наши менеджеры для подверждения и, если это необходимо, уточнения деталей. </p>
                        </p>
                    </div>                    
                </figure>
            </div>
            <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                <figure>
                    <img class="nav-logo" src="~/Assets/Logos/News/View/new_client_for_viewnews.png" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                    <figcaption>
                        <h2>подключить услугу</h2>
                        <p>Вы еще не явлеяетсь нашим клиентом? Это легко исправить! </p>
                    </figcaption>
                </figure>
            </a>
            <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                <figure>
                    <img class="nav-logo" src="~/Assets/Logos/News/View/feedback_for_viewnews.png" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                    <figcaption>
                        <h2>тарифы</h2>
                        <p>В этом разделе мы с радостью поможем вам с ответом.</p>
                    </figcaption>
                </figure>
            </a>
            <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                <figure>
                    <img class="nav-logo" src="~/Assets/Logos/News/View/feedback_for_viewnews.png" />
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                    <figcaption>
                        <h2>подобрать тариф</h2>
                        <p>Ответьте на пару вопросов и мы подберем вам оптимальный тариф</p>
                    </figcaption>
                </figure>
            </a>
        </section>
        <section class="footer">
            <p>Присоединяйся к нам в популярных социальных сервисах</p>
            <div><a href="#"><img src="~/Assets/Logos/Common/vk_flat_64.png" /></a><a href="#"><img src="~/Assets/Logos/Common/ok_flat_64.png" /></a><a href="#"><img src="~/Assets/Logos/Common/fb_flat_64.png" /></a></div>
            <div><a href="#"><h6>Powered by Kineev Alexey</h6></a></div>
        </section>
    </div><!-- /container -->
</body>
</html>
<script>
			(function() {

				function init() {
					var speed = 250,
						easing = mina.easeinout;

					[].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
						var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
							pathConfig = {
								from : path.attr( 'd' ),
								to : el.getAttribute( 'data-path-hover' )
							};

						el.addEventListener( 'mouseenter', function() {
							path.animate( { 'path' : pathConfig.to }, speed, easing );
						} );

						el.addEventListener( 'mouseleave', function() {
							path.animate( { 'path' : pathConfig.from }, speed, easing );
						} );
					} );
				}

				init();

			})();
</script>


