@model Roshalonline.Web.Models.NewsVM

@{
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("CreateNews", "Management", FormMethod.Post, new { style = "margin-top: 50px;" }))
{
    <table>
        <tr>
            <td>@Html.LabelFor(n => n.Header)</td>
            <td>@Html.EditorFor(n => n.Header)</td>
        </tr>
    </table>
        @Html.TextAreaFor(n => n.Body, new { @id = "editor1", @name = "editor1", @Value = "&lt;p&gt;Initial value.&lt;/p&gt;" })
        <script>
            CKEDITOR.replace('editor1', {
                filebrowserImageBrowseUrl: '/Management/UploadPartial',
                filebrowserImageUploadUrl: '/Management/Upload'
            });

            function updateValue(id, value) {
                var dialog = CKEDITOR.dialog.getCurrent();
                dialog.setValueOf('info', 'txtUrl', value);
            }
        </script>
        <input type="submit" value="Submit" id="btnSubmit" />
}
